.qs{
    margin-top: 10%;
}

.header{
    width: auto;
    height: auto;
    background-color: magenta;
}

.options{
    width: auto;
    height: auto;
    background-color: cyan;
    cursor: pointer;
}

.options:hover{
    font-size: 30px;
}

.options_one{
    width: auto;
    height: auto;
    background-color: cyan;
}